.container1 {
    position: fixed;
    background-color: rgb(68, 78, 107);
    top: 0%;
    left: 0px;
    width: 100%;
    height: 50%;
    text-align: center;
}
.container2 {
    position: fixed;
    background-color: rgb(155, 160, 175);
    top: 50%;
    left: 0px;
    width: 100%;
    height: 50%;
}
.text1 {
    text-align: center;
    position: relative;
    top: 10%;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.text2 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.photo1 {
    position:absolute;
    text-align: center;
    top: 20%;
    left: 26%;
    opacity: 75%;
}
.text3 {
    text-align: center;
    position: fixed;
    top: 41.3%;
    left: 31.8%;
    font-family: arial;
    font-size:x-large;
    color: white;
}
.photo2 {
    position: absolute;
    text-align: center;
    top: 20%;
    left: 49%;
    opacity: 75%;
}
.text4 {
    text-align: center;
    position: fixed;
    top: 29.5%;
    left: 51.5%;
    font-family: arial;
    font-size:x-large;
    color: white;
}
.photo3 {
    position:absolute;
    text-align: center;
    top: 20%;
    left: 60.5%;
    opacity: 75%;
}
.text5 {
    text-align: center;
    position:fixed;
    top: 29.5%;
    left: 62.5%;
    font-family: arial;
    font-size: x-large;
    color: white;
}
.photo4 {
    position: absolute;
    text-align: center;
    top: 68%;
    left: 26%;
    opacity: 70%;
}
.text6 {
    text-align: center;
    position: fixed;
    top: 77%;
    left: 29%;
    font-family: arial;
    font-size: x-large;
    color: white;
}
.photo5 {
    position: absolute;
    text-align: center;
    top: 68%;
    left: 37.5%;
    opacity: 75%;
}
.text7 {
    text-align: center;
    position: fixed;
    top: 77%;
    left: 40.5%;
    font-family: arial;
    font-size: x-large;
    color: white;
}
.photo6 {
    position: absolute;
    text-align: center;
    top: 43.5%;
    left: 49%;
    opacity: 75%;
}
.text8 {
    text-align: center;
    position: fixed;
    top: 64%;
    left: 54%;
    font-family: arial;
    font-size: xx-large;
    color: white;
}
.text9 {
    text-align: center;
    position: fixed;
    top: 95%;
    left: 45%;
    font-size:small;
}
